/node_modules
/public/storage
/storage/*.key
/vendor/*
!/vendor/laravelrus/
/.idea
Homestead.json
Homestead.yaml
.env
_ide_helper.php
- копия.env
it-reporter-10-08-2017.rar
laravel.sql
laravel_contract_scans.sql
